<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/auth/login.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <form th:method="POST" th:action="@{/process_login}" th:object="${user}">

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div th:if="${param.error}" style="color: #ba1111">
            Неправильные имя или пароль
        </div>
        <div class="btn-container">
            <button type="submit" class="btn">Войти</button>
            <button type="button" class="btn" id="register-btn">Зарегистрироваться</button>
        </div>
    </form>
    <a th:href="@{/}"> Вернуться</a>
</div>

<script>
    const registerButton = document.getElementById('register-btn');
    registerButton.addEventListener('click', function () {
        window.location.href = '/auth/registration';
    });
</script>

<br>

</body>


</html>
