<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link th:href="@{/auth/login.css}" rel="stylesheet" type="text/css">
</head>
<body>
<br>
<br>
<div class="container">
    <form th:method="POST" th:action="@{/process_login}" th:object="${user}">
        <table>
            <tr>
                <th><label for="username">Введите имя пользователя: </label></th>
                <th><input type="text" name="username" id="username"class="input-field"></th>
            </tr>
            <tr>
                <th><label for="password">Введите пароль: </label></th>
                <th><input type="password" name="password" id="password" class="input-field"></th>
            </tr>
            <div id="check" th:if="${param.error}"> Неправильные имя или пароль </div>
        </table>
        <br>
        <br>
        <input type="submit" class="button" value="Войти">
        <a th:href="@{/auth/registration}" class="button"> Зарегистрироваться </a>
    </form>
    <br>

<a class="back" th:href="@{/}"> Вернуться</a>
</div>
</body>
</html>
