<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/auth/registration.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <form th:method="POST" th:action="@{/auth/registration}" th:object="${user}">

        <label for="username"> Ваше имя :</label>
        <input type="text" th:field="*{userName}" placeholder="Username" id="username" class="input-field" required>
        <div style="color:red" th:if="${#fields.hasErrors('userName')}"
             th:errors="*{userName}"> Username error </div>

        <label for="password">Введите пароль :</label>
        <input type="password" id="password" name="password" th:field="*{password}" class="input-field" required>
        <div style="color:red" th:if="${#fields.hasErrors('password')}"
             th:errors="*{password}">Password Error </div>

        <label for="matching-password">Введите повторно пароль :</label>
        <input type="password" id="matching-password" name="matching-password" th:field="*{matchingPassword}"
               class="input-field" required>

        <label for="e-mail">Введите почту :</label>
        <input type="text" id="e-mail" name="e-mail" th:field="*{email}" class="input-field">
        <div style="color:red" th:if="${#fields.hasErrors('email')}"
             th:errors="*{email}">Email Error </div>

        <input type="submit" class="button" value="Sign up!"/>
    </form>
</div>

<a th:href="@{/}"> Вернуться</a>

</body>
</html>