<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <link th:href="@{/user-pages/profile.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <h2> Профиль пользователя</h2>
    <form th:action="@{/update-user}" th:object="${user}" method="POST">
        <table id="user-table">
            <input type="hidden" th:field="*{id}"/>
            <tr>
                <th>Изменить имя</th>
                <th><input type="text" th:field="*{username}" placeholder="Username" class="input-field"></th>
            </tr>
            <tr>
                <th>E-mail</th>
                <th><input type="text" th:field="*{email}" placeholder="E-mail" class="input-field">
                </th>
            </tr>
            <br>
        </table>
        <button type="submit" class="button">Обновить</button>
    </form>

    <a th:href="@{/logout}">Выйти из ЛК</a>
    <a id="back" th:href="@{/}">Вернуться</a>

</div>
</body>
</html>






