<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link th:href="@{/user-pages/profile.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <h2> Профиль пользователя</h2>
    <form th:action="@{/update-user}" th:object="${user}" method="POST">
        <label for="username">Изменить имя:</label>
        <input type="text" id="username" name="username">
        <label for="e-mail">Изменить e-mail:</label>
        <input type="e-mail" id="e-mail" name="e-mail">
        <input type="hidden" th:field="*{id}"/>
        <div class="btn-container">
            <button type="submit" class="btn">Обновить</button>
        </div>
    </form>
    <br>

</div>

<div class="link-container">
    <a th:href="@{/logout}" class="link">Выйти из ЛК</a>
    <a th:href="@{/}" class="link_back">Вернуться</a>
</div>
</body>

</html>






