<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="https://cdn.datatables.net/v/bs4/dt-1.13.4/datatables.min.css"
          rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/tasks/all-tasks.css}" rel="stylesheet" type="text/css">
</head>

<body>
<h1> My Tasks </h1>>
<div class="container">
    <table class="table-task">
        <thead class="table-head">
        <tr>
            <form th:action="@{/save-task}" th:object="${task}" method="POST">
                <td class="column_1"> <input type="text" th:field="*{title}" placeholder="Enter todo here"
                                            class="input-field"> </td>
                <td class="column_2"> <button type="submit" class="btn-light"> Save </button> </td>
            </form>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasks}">
            <td>
                <input type="checkbox" th:checked="${task.completed}" th:attr="data-task-id=${task.id}"
                       onchange="changeStatus(this)">
                <span th:text="${task.title}" th:attr="data-task-id=${task.id}" class="task-name"></span>
                <i class="fas fa-pencil edit-icon" onclick="enableEdit(this)"></i>
            </td>
            <td>
                <a th:href="@{/delete-task(taskId=${task.id})}" class="btn btn-warning">Del</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<a class="back" th:href="@{/}" >Вернуться</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs4/jq-3.6.0/dt-1.13.4/datatables.min.js"></script>

<script>
    //method for change status in checkbox
    function changeStatus(checkbox) {
        let taskId = checkbox.getAttribute("data-task-id");
        console.log(taskId);
        let completed = checkbox.checked;
        let data = {
            id: taskId,
            completed: completed
        };

        let xhr = new XMLHttpRequest();
        xhr.open("POST", "update-status", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log("Статус задачи изменен!");
            } else {
                console.error("Ошибка при изменении статуса задачи");
            }
        };
        xhr.send(JSON.stringify(data));
    }


    // method for change title of task. app will save changes on click "Enter"
    function enableEdit(editIcon) {
        let taskNameElement = editIcon.previousElementSibling;
        taskNameElement.contentEditable = true;
        taskNameElement.focus();
        taskNameElement.classList.add("editable");
        taskNameElement.addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                saveTitle(taskNameElement);
            }
        });
    }

    // method for save changes in title
    function saveTitle(taskNameElement) {
        taskNameElement.contentEditable = false;
        taskNameElement.classList.remove("editable");
        let taskId = taskNameElement.getAttribute("data-task-id");
        let newTaskName = taskNameElement.textContent;

        let data = {
            id: taskId,
            title: newTaskName
        };
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "/update-task", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                console.log("Изменения сохранены!");
            } else {
                console.error("Ошибка при сохранении изменений");
            }
        };
        xhr.send(JSON.stringify(data));
    }

</script>
</body>
</html>